!*.exe
!*.dll
!*.ide

GamePlayersReturnSystem/packages/*
GamePlayersReturnSystem/.vs/*
GamePlayersReturnSystem/GamePlayersReturnSystemWebAPI/bin
GamePlayersReturnSystem/GamePlayersReturnSystemWebAPI/obj
GamePlayersReturnSystem/GamePlayersReturnSystemWebAPI.Tests/bin
GamePlayersReturnSystem/GamePlayersReturnSystemWebAPI.Tests/obj
GamePlayersReturnSystem/Data/bin
GamePlayersReturnSystem/Data/obj
GamePlayersReturnSystem/DataProvider/bin
GamePlayersReturnSystem/DataProvider/obj
GamePlayersReturnSystem/Entity/bin
GamePlayersReturnSystem/Entity/obj
GamePlayersReturnSystem/Business/bin
GamePlayersReturnSystem/Business/obj
GamePlayersReturnSystem/IData/bin
GamePlayersReturnSystem/IData/obj